@import "bootstrap";
@import "flat_ui";
@import "demo";

body { padding-top: 70px; }

.status {
	border-bottom: solid 1px #CCC;
	padding: 5px 0px;
}

.status p {
	margin: 4px 0;
}

.status.hover {
	background: #FAFAFA;
}

.status .admin {
	display: none;
}

.status.hover .admin {
	display: inline;
}

.spanStatus {
	margin-left: 10px;
}